            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
             			<a class="page-scroll" href="">Profile</a>
                    </li>
                </ul>
            </div>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">PostUp</h1>
                <hr>
                <a href="categories#categories" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">Rent a Product</a> &nbsp; <a href="products/new" class="btn btn-primary btn-xl page-scroll">Post a Product</a></hr>
            </div>
        </div>
        </header>