<header id="first">
	
	
	<h1 class="cursive">PostUp</h1>
	<hr>
	<a href="categories#categories" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">Rent a Product</a> <br/>
	<a href="products/new" class="btn btn-primary btn-xl page-scroll">Post a Product</a></hr>
	<br/>
	<a class="btn btn-primary btn-xl" href="#">Profile</a>
	
</header> 