<!DOCTYPE html>
    <html>

      <head>

        <meta charset="utf-8">

        <link type="text/css" rel="stylesheet" href="charges.scss">

        <title>Payment Complete Page</title>

      </head>

      <body>

        <!-- <div id="header">This is the header</div> -->

      <div id="container">

        <div id="center" class="column">

          <div class="Receipt">
            <div class="circle">
               <h2>You paid $ <strong><%= @amount %></strong></h2>
            </div>
            <h2>Thank you, Enjoy !</h2>
            <p>A full receipt has been<br /> sent to zane@pedro.com</p>
            <button class="action-btn" type="button">
              <%= link_to 'Return to Home Page', user_page_index_url(current_user) %>
            </button>
          </div>

        </div>

        <div id="left" class="column">This Is The Nav</div>

        <div id="right" class="column">This Is The Aside</div>

      </div>

        <!-- <div id="footer">This is a footer</div> -->

      </body>

    </html>
